@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<CategoryDTO>

@if (TempData["ErrorMessage"] != null)
{
    <p class="alert alert-danger">@TempData["ErrorMessage"].ToString()</p>
}
@{
    @if (TempData["SuccessMessage"] != null)
    {
        <p class="alert alert-danger">@TempData["SuccessMessage"].ToString()</p>
    }
}

<a class="btn btn-outline-primary" asp-controller="Blog" asp-action="Insert"> New Blog</a>
<div class="container">
    <table class="m-3 table table-bordered">
        <tr>
            <th>Category Id</th>
            <th>Category Name</th>
            <th>Category Description</th>
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <th>Process</th>
                }
            }
        </tr>
        @{
            foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CategoryName</td>
                    <td>@item.CategoryDescription</td>
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <td>
                                <a class="btn btn-warning" asp-controller="Category" asp-action="Update" asp-route-id="@item.Id"> Update </a>
                                <a class="btn btn-outline-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                            </td>
                        }
                    }
                </tr>
            }
        }
    </table>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <a class="btn btn-outline-primary" asp-controller="Category" asp-action="Insert"> New Category </a>
        }
    }

</div>
@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}